
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Vuln - a free vulnerability tester</title>
	<link rel ="stylesheet" href="{{ url_for('static',filename='ind.css') }} ">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

	<section id="body" class="width">
		<aside id="sidebar" class="column-left">

			<header>
				<h1><a href="#">Vuln</a></h1>

				<h2>PenTest Yourself. Don't Get Hacked!</h2>
				
			</header>

			<nav id="mainnav">
				<ul>
					<li ><a href="/">Home</a></li>
					<li onclick="setSelector('tcp')" id='tcp'><a href="#">TCP Port Scan</a></li>
					<li onclick="setSelector('udp')" id ='udp'><a href="#">UDP Port Scan</a></li>
					<!-- <li><a href="#">SSL Heartbleed Scan</a></li> -->
					<li onclick="setSelector('whois')" id='whois'><a href="#">Whois Lookup</a></li>
				</ul>
			</nav>
		</aside>
		<section id="content" class="column-right">

			<article>
				

				<h2>Introduction to Vuln</h2>

				<p>Welcome to Vuln, a free premium vulnerability tester. </p>
				<form name="website" action="{{ url_for('index') }}" method="POST">
					<input type="text" name="scan_type" hidden value="empty" id="selector">
					<input type="text" id="website" name="website" placeholder="www.example.com">

					<input type="submit" value="Submit">
				</form>
			</article>
			<table>
					<tr>
						<th>Port</th>
						<th>Protocol</th>
						<th>State</th>
						<th>Service</th>																		
					</tr>
					{% for item in items %}
					<tr>
						<td>{{item.port}}</td>
						<td>{{item.protocol}}</td>
						<td>{{item.state}}</td>
						<td>{{item.service}}</td>
					</tr>
					{% endfor %}
			</table>
		</section>

		<div class="clear"></div>

	</section>
	<script>
			function setSelector(type)
			{
				document.getElementById('selector').setAttribute("value",type);
				document.getElementById('tcp').style.backgroundColor="black";
				document.getElementById('udp').style.backgroundColor="black";
				document.getElementById('whois').style.backgroundColor="black";
				document.getElementById(type).style.backgroundColor="red";
				// document.getElementById(form).style.visibility=visible;
			}

	</script>

</body>
</html>
